* {
	border: 0;
	margin: 0;
	outline: 0 !important;
	padding: 0;
}
HTML {
	min-height: 100%;
	position: relative;
}
BODY {
	/* Margin bottom by footer height */
	margin-bottom: 30px;
	padding-top: 20px;
}

.reports {
	padding-left: 0;
}
.reports .item {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.reports .item.useful {
	border-left-color: #1b809e;
}
.reports .item:first-child {
	margin-top: 0;
}
.reports .item .time .total {
	color: #666;
}
.reports .item .task {
	font-size: 12px;
	margin: 20px 0 5px;
}
.reports .item .time .interval,
.reports .item .task .name {
	font-weight: bold;
}
.add-report {
	background: #f8f8f8;
	padding: 15px 20px;
}

.tasks {
	background: #f8f8f8;
}
.tasks H2 {
	font-size: 20px;
	margin: 10px 0 15px;
}

.prev-day, .next-day {
	background: transparent;
	color: #204C59;
	font-size: 40px;
	height: 40px;
	margin-top: -20px;
	position: fixed;
	top: 50%;
	width: 40px;
}
.prev-day:hover, .next-day:hover {
	color: #3D8FA7;
}
.prev-day {
	left: 20px;
}
.next-day {
	right: 20px;
}

FOOTER {
	background: #f5f5f5;
	bottom: 0;
	font: 14px "Arial", "Helvetica", sans-serif;
	height: 30px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 768px) {
	BODY {
		padding-top: 5px;
	}
	H1 {
		font-size: 24px;
	}
	.reports {
		padding-right: 0;
	}
}