doctype html
html(lang="ru")
	head
		title="Yantema"
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", media="screen", href="assets/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", media="screen", href="assets/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", media="screen", href="css/common.css")
		link(rel="icon", href="favicon.ico")
	body
		div.container
			h1="Вход в аккаунт Google"
			p="Тайм-менеджер Yantema использует Google Календарь для хранения выполненных и планируемых задач. Благодаря этому вы сможете использовать Yantema вместе с любыми другими сервисами, использующими Google Календарь, синхронизировать ваш личный и корпоративный органайзеры или, например, открывать совместный доступ. В то же время, вы сможете отмечать потраченное время через простой органайзер в своём телефоне."
			a.btn.btn-primary.login(onclick="handleAuthClick(event)")="Войти в аккаунт Google"
		script(src="js/login.js")
		script(src="https://apis.google.com/js/client.js")