<div class="container">
	<h1>Вход в аккаунт Google</h1>
	<p>Тайм-менеджер Yantema использует Google Календарь для хранения выполненных и планируемых задач. Благодаря этому вы сможете использовать Yantema вместе с любыми другими сервисами, использующими Google Календарь, синхронизировать ваш личный и корпоративный органайзеры или, например, открывать совместный доступ. В то же время, вы сможете отмечать потраченное время через простой органайзер в своём телефоне.</p><a ng-click="handleAuthClick(event)" ng-disabled="!apiClientReady" class="btn btn-primary login">Войти в аккаунт Google</a>
	<p ng-show="authFailed" class="login-fail bg-danger">Не удалось войти в аккаунт. Попробуйте ещё раз или свяжитесь с администратором: <a href="mailto:mail@asleepwalker.ru">mail@asleepwalker.ru</a>
	</p>
</div>