* {
	border: 0;
	margin: 0;
	outline: 0 !important;
	padding: 0;
}
HTML {
	position: relative;
}
BODY {
	padding-top: 20px;
}

.main {
	padding-left: 0;
}
.reports {
	overflow: auto;
}
.reports.has-scroll {
	padding-right: 10px;
}
.reports .item {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	position: relative;
}
.reports .item.useful {
	border-left-color: #1b809e;
}
.reports .item.editing {
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
	border-color: #007EC8;
}
.reports .item:first-child {
	margin-top: 0;
}
.reports .item:last-child {
	margin-bottom: 0;
}
.reports .item .time .total {
	color: #666;
}
.reports .item .task {
	font-size: 12px;
	margin: 20px 0 5px;
}
.reports .item .time .interval,
.reports .item .task .name {
	font-weight: bold;
}
.reports .item .actions {
	opacity: 0;
	transition: 0.2s;
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 90%;
}
.reports .item:hover .actions {
	opacity: 1;
}
.reports .item .actions span.pseudo {
	cursor: pointer;
	border-bottom: 1px dashed;
	margin-left: 5px;
}
.reports .item .actions .pseudo.edit {
	color: #1D5684;
	border-bottom-color: #64A5CA;
}
.reports .item .actions .pseudo.remove {
	border-bottom-color: #FFA1A1;
	color: #CA0000;
}

.reports .alert {
	margin-bottom: 0;
}
.add-report {
	background: #f8f8f8;
	margin: 20px 0 30px;
	padding: 15px 20px;
}

.aside {
	background: #f8f8f8;
	margin-top: 20px;
}
.tasks.aside {
	margin-top: 0;
}
.aside H2 {
	font-size: 20px;
	margin: 10px 0 15px;
}
.statistic .time {
	font-weight: bold;
}

.prev-day, .next-day {
	background: transparent;
	color: #204C59;
	font-size: 40px;
	height: 40px;
	margin-top: -20px;
	position: fixed;
	top: 50%;
	width: 40px;
}
.prev-day:hover, .next-day:hover {
	color: #3D8FA7;
}
.prev-day {
	left: 20px;
}
.next-day {
	right: 20px;
}

.btn.login {
	margin-top: 8px;
}
.login-fail {
	margin-top: 15px;
	padding: 10px 15px;
}

@media screen and (max-width: 768px) {
	BODY {
		padding-top: 5px;
	}
	H1 {
		font-size: 24px;
	}
	.main {
		padding-right: 0;
	}
}

@media screen and (max-width: 800px) {
	.prev-day, .next-day {
		display: none;
	}
}
@media screen and (max-width: 1275px) {
	.prev-day, .next-day {
		font-size: 30px;
		top: 60px;
	}
	.prev-day {
		left: -5px;
	}
	.next-day {
		right: -5px;
	}
}